<div class="modal-header"><h4 class="modal-title" id="modal-title">Add an API</h4>
  <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button" class="close"
          type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col align-middle text-center"><p>Add a JSON</p></div>
    <div class="col">
      <div class="custom-file"><input (change)="openJSONFile($event)" class="custom-file-input" id="customFile"
                                      type="file"/><label class="custom-file-label" for="customFile"></label></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss('cancel click')" class="btn btn-outline-secondary" type="button">Cancel</button>
  <button (click)="modal.close('Ok click')" class="btn btn-danger" ngbautofocus="" type="button">Ok</button>
</div>
