.container.mt-3
  .list-group-item.mb-3(*ngFor="let server of singleProgressBars")
    .row
      .col
        h3 {{server.location}}
      .col
        p {{server.availability !== "Test hasn't started yet" ? 'Overall availability : ' + server.availability + '%' : server.availability}}
    .progress
      .progress-bar(
        *ngFor="let record of server.records"
        role='progressbar',
        [ngStyle]="{'width' : progressPartWidth * record.stateLength+'%', 'background-color': record.state ? 'green' : 'red'}",
        [attr.aria-valuenow]="progressPartWidth * record.stateLength",
        aria-valuemin='0',
        aria-valuemax='100',
        [ngbTooltip]="!record.state ? 'From ' + (record.startDate | dateTimeFromIso |  date:'medium') + ' to ' + (record.endDate | dateTimeFromIso |  date:'medium') : ''")
