#collapse([className]="show ? 'show' : 'collapse'")
  .card-body
    .row.justify-content-around
      button.btn.btn-outline-info.col-5 Download tests
      button.btn.btn-outline-danger.col-5((click)="deleteApi($event)")
        .row.justify-content-center
          .col-3 Delete
          i.material-icons-round.col-1 delete_forever
