<label>Zones</label>
<ngb-tabset justify="fill">
  <ngb-tab title="Latency">
    <ng-template ngbTabContent="ngbTabContent">
      <div class="list-group scroll-area50" *ngFor="let server of gcpServers">
        <div class="list-group-item list-group-item-action btn-outline" #latenceServer="#latenceServer"
             (click)="latencyServerSelected(server)" [ngClass]="{selected: latencyRegionsSelection.includes(server)}"
             [class.disabled]="!isValidFile">{{server.continent}} - {{server.location}}</div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Uptime">
    <ng-template ngbTabContent="ngbTabContent">
      <div class="list-group scroll-area" *ngFor="let server of gcpServers">
        <div class="list-group-item list-group-item-action btn-outline" #uptimeServer="#uptimeServer"
             (click)="uptimeServerSelected(server)" [ngClass]="{selected: uptimeLocationSelection.includes(server)}"
             [class.disabled]="!isValidFile">{{server.regional}} - {{server.location}}</div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
