div
  .input-group.mb-3
    .input-group-prepend
      span#spanChoose.input-group-text(#span='') Choose file
    .custom-file
      label#OpenApiInputLabel.custom-file-label(#label='', [attr.for]='"OpenApiInputInput"') {{file ? file.serverName : "or drag and drop file here" }}
      input#OpenApiInputInput.custom-file-input(#input='', type='file', aria-describedby='spans')
