<div class="modal-header"><h4 class="modal-title" id="modal-title">Add servers to test</h4>
  <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button" class="close"
          type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
  <div class="row scroll-area75">
    <div class="col align-middle text-center">
      <div *ngFor="let server of addablePlannedTestServers" class="list-group" id="GCPServers">
        <div (click)="serverSelected(server)" [ngClass]="{selected: setClassNames(server)}"
             class="list-group-item list-group-item-action btn-outline">{{server.location}}</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss('cancel click')" class="btn btn-outline-secondary" type="button">Cancel</button>
  <button (click)="createPlannedTestServers()" class="btn btn-danger" ngbautofocus="" type="button">Ok</button>
</div>
