<div class="modal-header"><h4 class="modal-title" id="modal-title">Add servers to test</h4>
  <button class="close" type="button" aria-label="Close button" aria-describedby="modal-title"
          (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
  <div class="row scroll-area">
    <div class="col align-middle text-center">
      <div class="list-group" id="GCPServers" *ngFor="let server of addablePlannedTestServers">
        <div class="list-group-item list-group-item-action btn-outline" (click)="serverSelected(server)"
             [ngClass]="{selected: setClassNames(server)}">{{server.location}}</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" type="button" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button class="btn btn-danger" type="button" ngbautofocus="" (click)="createPlannedTestServers()">Ok</button>
</div>
