<div class="modal-header"><h4 class="modal-title" id="modal-title">Add an API</h4>
  <button class="close" type="button" aria-label="Close button" aria-describedby="modal-title"
          (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body scroll-area75">
  <form class="col" [formGroup]="openApiForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <app-file-upload formControlName="file"></app-file-upload>
    </div>
    <div class="form-group">
      <app-input-latency formControlName="latency"></app-input-latency>
    </div>
    <div class="form-group">
      <app-input-uptime formControlName="uptime"></app-input-uptime>
    </div>
    <div class="form-group">
      <app-input-zone></app-input-zone>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" type="button" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button class="btn btn-danger" #modalSubmit="#modalSubmit" type="button" ngbautofocus="" (click)="onSubmitForm()">Ok
  </button>
</div>
