<h1>{{title}}</h1>
<div class="container-fluid" id="application">
  <div class="row">
    <div class="col scroll-area50" id="apiDiv">
      <div class="mb-3" role="button">
        <div (click)="openAddApiModal()" class="list-group-item list-group-item-info">
          <div class="row">
            <div class="col-10">Add an API to test</div>
            <i class="material-icons-round col-1">add</i></div>
        </div>
      </div>
      <app-api-list></app-api-list>
    </div>
    <div class="col scroll-area50" id="serverDiv">
      <div *ngIf="apiSelected !== null" class="mb-3 scroll-area50" role="button">
        <div (click)="openAddServerModal()" class="list-group-item list-group-item-info">
          <div class="row">
            <div class="col-10">Add a server to test the selected API</div>
            <i class="material-icons-round col-1">add</i></div>
        </div>
      </div>
      <app-server-list></app-server-list>
    </div>
  </div>
  <div class="row scroll-area50">
    <app-performance-chart></app-performance-chart>
  </div>
</div>
